@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;700;800&display=swap');

body {
    font-family: 'Sarabun', sans-serif !important;
}

.ss3-intro {
    display: block;
    margin: 0 auto;
    width: 80%;
}

header {
    height: auto;
    background-image: url('../image/BFF-wallpaper-4.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom center;
    position: relative;
}

.sub-intro-title {
    letter-spacing: 2px;
    line-height: 30px;
}

.get-minecraft {    
    border: 5px solid #FFF !important;
}
.get-minecraft:hover {
    border: 5px solid #FFF !important;
    background-color: transparent !important;
    color: #FFF !important;
}

/*test*/
.div-test {
    background-color: red;
    width: 10px;
    height: 10px;
}

.read-details {
    width: 100% !important;
}

.toast-img-steve {
    width: 20px;
    height: 20px;
}

.text-bold {
    font-weight: 800;
}